# Import Dependencies

In [30]:
# Standard Imports 
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt 
sns.set()

# 1. Get the Data Ready

In [205]:
## Import dataset 
# df = pd.read_csv('Dataset/fake_job_postings.csv')
# df.head()

In [202]:
# Grab Data from Github URL
url = 'https://raw.githubusercontent.com/Andre-Williams22/Fake-Job-Classifier-App/master/Dataset/fake_job_postings.csv'

In [203]:
df = pd.read_csv(url,sep=",")

In [204]:
df.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [147]:
df.sample(5)

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
5390,5391,Inside Sales Rep,"US, CA, Chula Vista",NaN,NaN,QB Medical Inc. is a medical supply distributo...,Are you interested in Medical Product Sales???...,· Excellent written/verbal/phone commu...,Compensation: $15 base plus commission. Expect...,0,1,0,Full-time,Associate,Bachelor's Degree,Hospital & Health Care,Sales,0
3726,3727,Resident Services Coordinator (Part-Time),"US, IL, Chicago",NaN,NaN,MAC Property Management is dedicated to provid...,COMPANY DESCRIPTIONMAC Property Management lea...,Bachelor’s Degree preferredMicrosoft Office Su...,NaN,0,1,1,NaN,NaN,NaN,NaN,NaN,0
17592,17593,Home Based Payroll Typist/Data Entry Clerks Po...,"US, KS, Abilene",Clerical,NaN,NaN,We have several openings available in this are...,"Basic computer and typing skills, ability to s...",All you need is access to the Internet and you...,0,0,0,NaN,NaN,NaN,NaN,NaN,1
1698,1699,Data Coordinator,"US, NY, New York",Operations,NaN,About ECHOING GREEN: Echoing Green unleashes ...,About ECHOING GREEN: Echoing Green unleashes ...,IDEAL CANDIDATE: Curious individual who geeks...,Echoing Green has a generous benefits package ...,0,1,1,Full-time,Entry level,Bachelor's Degree,Nonprofit Organization Management,Information Technology,0
15418,15419,Software Developer,"DE, BY, München",tech,NaN,hello worldtalents23_ drives the change in dig...,Rock the payment world with us!The payment ind...,What we are looking for …ambitious team player...,What we offer…a permanent position in our skil...,0,1,1,Full-time,Associate,NaN,Financial Services,Information Technology,0

In [148]:
df.describe(include='all')

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
count,17880.000000,17880,17534,6333,2868,14572,17879,15185,10670,17880.000000,17880.000000,17880.000000,14409,10830,9775,12977,11425,17880.000000
unique,NaN,11231,3105,1337,874,1709,14801,11968,6205,NaN,NaN,NaN,5,7,13,131,37,NaN
top,NaN,English Teacher Abroad,"GB, LND, London",Sales,0-0,We help teachers get safe &amp; secure jobs ab...,"Play with kids, get paid for it Love travel? J...",University degree required. TEFL / TESOL / CEL...,See job description,NaN,NaN,NaN,Full-time,Mid-Senior level,Bachelor's Degree,Information Technology and Services,Information Technology,NaN
freq,NaN,311,718,551,142,726,379,410,726,NaN,NaN,NaN,11620,3809,5145,1734,1749,NaN
mean,8940.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.042897,0.795302,0.491723,NaN,NaN,NaN,NaN,NaN,0.048434
std,5161.655742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.202631,0.403492,0.499945,NaN,NaN,NaN,NaN,NaN,0.214688
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000
25%,4470.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000
50%,8940.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000
75%,13410.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000
max,17880.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,1.000000

In [149]:
corr = df.corr()
corr.style.background_gradient(cmap = 'coolwarm')

In [150]:
# corr = df.corr()
# corr.style.background_gradient(cmap = 'coolwarm')

In [151]:
df.isnull().sum()

job_id                     0
title                      0
location                 346
department             11547
salary_range           15012
company_profile         3308
description                1
requirements            2695
benefits                7210
telecommuting              0
has_company_logo           0
has_questions              0
employment_type         3471
required_experience     7050
required_education      8105
industry                4903
function                6455
fraudulent                 0
dtype: int64

In [152]:
df.dtypes

job_id                  int64
title                  object
location               object
department             object
salary_range           object
company_profile        object
description            object
requirements           object
benefits               object
telecommuting           int64
has_company_logo        int64
has_questions           int64
employment_type        object
required_experience    object
required_education     object
industry               object
function               object
fraudulent              int64
dtype: object

In [153]:
df['department'].fillna('missing', inplace=True)
df['location'].fillna('missing', inplace=True)
df['description'].fillna('missing', inplace=True)
df['company_profile'].fillna('missing', inplace=True)
df['requirements'].fillna('missing', inplace=True)
df['benefits'].fillna('missing', inplace=True)
df['employment_type'].fillna('missing', inplace=True)
df['required_experience'].fillna('missing', inplace=True)
df['industry'].fillna('missing', inplace=True)
df['function'].fillna('missing', inplace=True)
df['required_education'].fillna('missing', inplace=True)

In [154]:
df.isnull().sum()

job_id                     0
title                      0
location                   0
department                 0
salary_range           15012
company_profile            0
description                0
requirements               0
benefits                   0
telecommuting              0
has_company_logo           0
has_questions              0
employment_type            0
required_experience        0
required_education         0
industry                   0
function                   0
fraudulent                 0
dtype: int64

In [155]:
# Remove rows with missing salary range values 
df.dropna(subset=['salary_range'], inplace=True)

In [156]:
len(df)

2868

### Convert Data into numbers

In [164]:
# use pd.get dummies 
X = pd.get_dummies(df.drop('fraudulent', axis=1))
y = df['fraudulent']

## Split the data into training and test

In [165]:
# Split the data into training and test 
from sklearn.model_selection import train_test_split

np.random.seed(42)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# View shapes of data
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2294, 11495), (574, 11495), (2294,), (574,))

# 2. Choose Model (Estimator)

In [171]:
from sklearn.ensemble import RandomForestClassifier

# instantiate the model
rf_model = RandomForestClassifier(n_estimators=100)

# Fit the model 
rf_model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

# 3. Make Predictions

In [178]:
# Make Predictions 
y_preds = rf_model.predict(X_test) # predictions
y_preds[:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1])

In [179]:
np.array(y_test[:10]) # actual results

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1])

# 4. Evaluate the Random Forest Classifier (Use the patterns the model have learned)

In [172]:
print('Random Forest Classifier',rf_model.score(X_test, y_test))

Random Forest Classifier 0.9686411149825784

In [190]:
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score

np.random.seed(42)

rf_model = RandomForestClassifier(n_estimators=100)
scoring = {'acc': 'accuracy',
           'prec_macro': 'precision_macro',
           'rec_macro': 'recall_macro',
           'f1_macro': 'f1_macro'}
scores = cross_validate(rf_model,X,y, cv=10, scoring=scoring)
# print(scores.keys())

print ('Accuracy score : %.3f' % scores['test_acc'].mean())
print ('Precisoin score : %.3f' % scores['test_prec_macro'].mean())
print ('Recall score : %.3f' % scores['test_rec_macro'].mean())
print ('F1 score : %.3f' % scores['test_f1_macro'].mean())

Accuracy score : 0.963
Precisoin score : 0.981
Recall score : 0.766
F1 score : 0.832

# 5. Experimentation => Hyperparameter Tuning

In [196]:
np.random.seed(42)

for i in range(10, 100, 10):
    print(f"Try with {i} estimators...")
    rf_model = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {rf_model.score(X_test,y_test)}")
    print("")

Try with 10 estimators...
Model accuracy on test set: 0.9616724738675958

Try with 20 estimators...
Model accuracy on test set: 0.9634146341463414

Try with 30 estimators...
Model accuracy on test set: 0.9547038327526133

Try with 40 estimators...
Model accuracy on test set: 0.9564459930313589

Try with 50 estimators...
Model accuracy on test set: 0.9634146341463414

Try with 60 estimators...
Model accuracy on test set: 0.9634146341463414

Try with 70 estimators...
Model accuracy on test set: 0.9686411149825784

Try with 80 estimators...
Model accuracy on test set: 0.9686411149825784

Try with 90 estimators...
Model accuracy on test set: 0.9634146341463414

# 6. Save Model For Flask Application

In [198]:
import pickle 

# Save trained model to file
pickle.dump(rf_model, open("random_forest_model_1.pkl", "wb"))